.edit-td .edit-area {
  border: none;
  margin: 0;
  padding: 0;
  display: block;
  
  /* rimuoviamo il gestore di resize in Firefox */
  resize: none;
  
  /* rimuoviamo l'outline al focus in Chrome */
  outline: none;
  
  /* rimuoviamo la scrollbar in IE */
  overflow: auto;
}

.edit-controls {
  position: absolute;
}

.edit-td {
  position: relative;
  padding: 0;
}